.rate-score {
    display: flex;
    justify-content: space-between;
    width: 196px;
    height: 18px;
    margin-left: 80px;
    margin-bottom: 30px;
    img{
        width: 24px;
        height: 24px;
    }
}

/* format mobile min 500px */
@media screen and (max-width: 600px) {
    .rate-score{
        margin-left: 0;
        width: 98px;
        gap: 10px;
        img{
            width: 18px;
            height: 18px;
        }
    }
}