.container-Card{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content:center;
    background-color:#F6F6F6;
    margin: 0 100px 40px 100px;
    padding: 56px 50px 50px 50px;
    .Card{
        display: flex;
        flex-direction: column-reverse;
        height: 500px;
        width: 360px;
        overflow: hidden;
        border-left: solid 2px black;
        border-right: solid 2px black;
        transition: all 0.3s;
        &:hover{
            filter: brightness(50%);
            transition: all 0.3s;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    p{
        position: absolute;
        top: 545px;
        font-family: "Montserrat";
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        width: 322px;
        color: blue;
        padding: 20px;
        z-index: 1;
    }
      }