.footer{
    background-color: #2952A0;
    height: 215px;
    padding-top: 20px;
    img{
        width: 80px;
    }
    p{
        color: white;
        text-align: center;
        font-family: 'Rufina';
        font-size: 20px;
        line-height: 60px;
        margin: 0;
    }
    nav{
        list-style: none;
        text-align: center;
    }
    nav a{
        color: white;
        text-decoration: none;
        width: 100px;
        padding: 25px;
        font-size: 18px;

    }
    nav a:hover{
        border-bottom: solid 2px #d3d3d3;
        color: #d3d3d3;
    
    }
    nav a.active{
        border-bottom: solid 2px #d3d3d3;
    }
}

/* format mobile min 500px */
@media screen and (max-width: 600px) {
    .footer {
        margin-top: 45px;
        height: 180px;
        p{
        font-size: 12px;
        line-height: 35px;
        }
    }
}