.header{
    align-items: center;
    display: flex;
    background-color: lightgrey;
    justify-content: space-between;
    //margin: 40px 100px 40px 100px;
    padding: 10px 100px 10px 100px;
    height: 56px;
    border-bottom: solid 2px #2952A0;
    font-family: 'Rufina';
    font-size: 21px;
    img{
        width: 280px;
    }
    nav{
        display: flex;
        //gap: 57px;
        list-style: none;
        text-align: center;
    }
    nav a{
        color: white;
        text-decoration: none;
        transition: all 1s;
        width: 100px;
        padding: 25px;
    }
    nav a:hover{
        background-color: #909090;
        transition: all 1s;
    }
    nav a.active{
        background-color: #2952A0;
    }
}



/* format mobile min 500px */
@media screen and (max-width: 600px) {
    .header{
        margin: 20px;
        align-items: flex-start;
        font-size: 19px;
        text-transform: uppercase;
        img{
            width: 145px;
        }
        nav{
            margin-top: 18px;
            gap: 25px;
        }
    }

}